.article-container {
  border-bottom: 1px solid black;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.article-content {
  width: 80%
}

.number-container {
  display: flex;
  align-items: flex-end;
  height: 2rem;
  font-size: 1em
}

.article-name-container {
  display: flex;
  align-items: center;
  height: 4rem;
  font-size: 1.75em;
  line-height: 2.25rem;
  font-weight: 600;
}

.article-text-container {
  display: flex;
  align-items: center;
  height: 5rem;
  font-size: 1em;
  line-height: 1.5rem;
}