footer {
  background-color: #2B2D26;
  color: white;
  padding: 60px 120px;

  @media screen and (max-width: 800px) {
    padding: 20px;
  }
}

.product-and-collaboration-container {
  display: grid;
  grid-template-columns: 2fr 2fr 3fr;
  grid-template-rows: 4fr 1fr;
  column-gap: 15px;
  border-bottom: 2px solid #29CC6A;
  min-width: 250px;

  @media screen and (max-width: 500px) {
    grid-template-columns: 1fr 10fr 10fr 1fr; // display: flex;
    column-gap: 5px;
  }
}

@media screen and (max-width: 500px) {
  .products {
    grid-column: 2;
  }

  .collaboration {
    grid-column: 3;
  }
}

.footer-list {

  h3 {
    margin: 0;
    line-height: 40px;
    font-size: 1.25em;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      line-height: 40px;

      &:hover {
        text-decoration: underline;
      }

      @media screen and (max-width: 768px) {
        line-height: 30px;
      }

    }
  }
}

.social-links {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  gap: 15px;
  padding: 0 0 20px 0;
  bottom: 0;
  right: 0;
  justify-self: end;
  grid-column: 3;
  grid-row: 2;

  @media screen and (max-width: 500px) {
    grid-column-start: 1;
    grid-column-end: span 4;
    justify-self: center;
  }
}

.legal-details {
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  gap: 20px;

  @media screen and (max-width: 1024px) {
    justify-content: center;
  }

  p {
    font-size: 14px;
    margin: 0;
    text-align: center;
  }
}