.material-symbols-outlined {
  cursor: pointer;

  &.plus {
    padding-top: 15px;
    font-size: 3.75em;
    color: #29CC6A
  }

  &.minus {
    padding-top: 15px;
    font-size: 3.75em;
    color: #29CC6A
  }
}