body {
  margin: 0;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2B2D26;

  @media screen and (max-width: 1024px) {
    padding: 10px 0;
  }

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}

code {
  font-family: Roboto, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: #787A7C;
}

a.active {
  text-decoration: underline;
  color: #2B2D26;
}

* {
  box-sizing: border-box;
}